/* CSS files add styling rules to your content */

body {
  font-family: 'Architects Daughter', cursive;
  margin: 2em;
  background-color:black;
  color:beige;
  text-align:left;
  background-image:url("https://cdn.glitch.com/f42af0a4-1968-4f8b-bb6c-590b84c22513%2Fanders-jilden-uwbajDCODj4-unsplash.jpg?v=1605150596772");
  background-size: auto;
  background-repeat: no-repeat;
}

h1 {
  font-style: bold;
  font-family: Overpass;
  color: #ADFF2F;
  text-align:center;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.vincent {
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:50px;
}

table, th, td {
  border: 3px solid crimson;
  border-collapse: inherit;
  width: 33%;
  background-color:black;
}

  * {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px;
}
.linkbox {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 40px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.redbox {
  background-color:red;
  overflow: auto;
}
.redboxnoflow {
  background-color:red;
  
  }
.bluebox {
  background-color:blue;
  overflow: auto;
}
.purplebox {
  background-color: purple;
  overflow: ;
}
.cyanbox {
  background-color:cyan;
  overflow: auto;
}
.limebox {
  background-color:lime;
  overflow: auto;
}
.pinkbox {
  background-color:pink;
  overflow: auto;
}

.threecol{
  width: 33.33%;
  border: 1px solid crimson;
}
.twocol{
  width: 50%;
}
.onecol{
  width: 100%;
}
.blacktext{
  color:black;
}

a{
  border: 1px solid red;
  padding:0px;
  text-decoration:none;
  background-color:grey;
}
/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: magenta;
}

/* mouse over link */
a:hover {
  color: hotpink;
  background-color:beige;
}

/* selected link */
a:active {
  color: blue;
}

.description {
  background-color:black;
}
/*for boxes that link to other pages*/
.linkcodes{
  text-align:center;
  
}