/* CSS files add styling rules to your content */

body {
  font-family: 'Architects Daughter', cursive;
  margin: 2em;
  color:beige;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: ;
  text-align:center;
}
.herotext{
  color:#ADFF2F;
}

h2{
  text-align:center;
  font-family:'Raleway', sans-serif;
}
  

body {
  font-family: 'Architects Daughter', cursive;
  margin: 2em;
  background-color:grey;
  color:beige;
  text-align:left;
  background-image:;
  background-size: auto;
  background-repeat: no-repeat;
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: ;
  top: 0;
}
  
  .nicefont{
    font-family: 'Architects Daughter', cursive;
  }  
.center {
  text-align: center;
  border: 3px solid green;
}
  
.gallery {
  margin: 3px;
  border: 1px solid #ccc;
  float: left;
  width: 10px;
}

.gallery:hover {
  border: 1px solid cyan;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}  
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}  
.box {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px;
}
.threecol{
  width: 33.33%;
  border: 1px solid crimson;
}